body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    background-image: url(https://images.homedepot-static.com/productImages/00edb9e5-0e02-4862-98e3-30cd50dadb4c/svn/arthouse-wallpaper-623007-64_1000.jpg);
    font-size: 17px;
}

.careerSkillImg {
    height: 100px;
    padding-bottom: 20px;
}

.skillList {
    display: flex;
    justify-content: space-around;
    width: 75%;
}

#studioAlbums li {
    width: 40%;
}

#studioAlbums {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    font-style: italic;
}

#careerMain {
    width: 80%;
    margin-left: 10px;
}

.careerSection {
    padding-top: 15px;
}

.residencePostcard {
    height: 250px;
}