body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    background: black;
}

.careerSkillImg {
    height: 100px;
    padding-bottom: 20px;
}

#studioAlbums {
    font-style: italic;
}

.skillList {
    display: flex;
    justify-content: space-around;
    width: 75%;
}

#studioAlbums li {
    width: 40%;
}

#studioAlbums {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

}

#careerMain {
    width: 80%;
    margin-left: 10px;
}

.careerSection {
    padding-top: 15px;
}

.residencePostcard {
    height: 250px;
}