body{
    background-color: lightgray;
}

.title-ex{
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    padding: 20px;
    
}

.portrait-ex li{
    margin: center;
}


.garth-Ex .purple{
    box-shadow: 10px;
    height: 300px ;
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    border: solid black 0px;
    padding: 10px;
    border-radius: circle;
}
.aliases-Ex{
    float: center;
    height: 200px;
    width: 50%;
    margin-left: 20%;
    margin-right: 30%;
    padding: 20px;
    border-radius: 10%;

}
h2{
    text-align: center;
}