body{
    background-color: lightgray;
}

.title-ex{
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    
}

.portrait-ex{
    margin: auto;
}


.garth-Ex .purple{
    height: 300px ;
    width: 50%;
    /* margin: auto; */
    margin-left: 20%;
    margin-right: 20%;
    border: solid black 0px;
    padding: 10px;
    border-radius: circle;
}