/* HEADER CSS */
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    border: 2px black solid;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: black;
    height: 50px;
}

#navbar {
    list-style-type: none;
    padding-right: 10px; 
    margin-top: auto; 
    margin-bottom: auto;
}

#navbar li {
    display: inline;
    color: white;
}

#homeNav {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
}

#homeNav, #executiveSummary, #career, #Personal, #newsFeed {
    background-color: gray;
    border: 2px gray outset;
    border-radius: 4px;
    color: white;
}

#homeAnchor {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
}

/* FOOTER CSS */
#footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    color: white;
    background-color: black;
    height: 50px;
}

#footer-icons {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#footer-icons img {
    height: 20px;
    padding: 5px;
    margin: 0 8px;
}

#footer-copyright {
    font-size: 12px;
    height: 12px;
}

/* Padding so that navbars don't hide content */
body {
    color: white;
    padding-top: 50px;
    padding-bottom: 50px;
    background-image: url("https://images.homedepot-static.com/productImages/00edb9e5-0e02-4862-98e3-30cd50dadb4c/svn/arthouse-wallpaper-623007-64_1000.jpg");
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
} 

.newsFeed{
    font-size: 20px
}

.newsFeedh1{
    font-size: 30px
}
.textWrap{
    display: flex;
    align-self: self-start;
}

.textWrap2{
    display: flex;
    flex-direction: row-reverse
}

.newsFeedSection{
    margin: 200px 30px 200px 30px;
}

.newFeedMainH1{
    text-align: center
}

/* Padding so that navbars don't hide content */
body {
    padding-top: 50px;
    padding-bottom: 50px;
}